body{
    background-color: #120F26;
}

header{
    background-color: red;
    height: 80px;
}

.container-telaCadastro{
    display: flex;
}

.form-cadastro{
    height: 410px;
    width: 700px;
    background-color: #27498C;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.cadastro-container{
    margin-left: 90px;
    margin-top: 25px;
    flex: 1;
}

.cadastro-container h1{
    margin-bottom: 5px;
    font-size: 2em;
    color: white;
}

.cadastro-container h6{
    font-size: 0.8em;
    color: red;
}

.input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display:flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    margin: auto;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    font-weight: 500;
}

.input-box input:hover{
    background-color: #eaeaea;
}

.input-box input:focus-visible{
    outline: 1px solid #120F26;
}

.input-box label{
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: -5px;
    color: white;
    
}

.input-box input::placeholder{
    color: #000000be;
    font-weight: 400;
}

.input-box .form-nome{
    width: 620px;
}

.input-box .form-apelido,
.form-email,
.form-cpf,
.form-telefone,
.form-senha,
.form-senha2{
    width: 270px;
}

.btn-registrar{
    display: flex;
    justify-content: center;
}

.btn-registrar button{
    width: 300px;
    height: 50px;
    border: 1px solid #4945F9;
    border-radius: 10px;
    background-color: #120F26;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    box-shadow: 1px 1px 6px #120F26;
    cursor: pointer;
    transition: transform 0.3s;
}

.btn-registrar button:hover{
    background-color: #080611;
    transform: translateY(-2px);

}

.form-cadastro h5{
    color: white;
    font-weight: 100;
    text-align: center;
    margin-top: 10px;
    font-size: 0.7em;
}

.form-cadastro h5 a{
    color: white;
}

.anuncios-container{
    margin-top: 20px;
    height: 500px;
    width: 500px;
    display: block;
    text-align: center;
}

.anuncios-container img{
    margin-top: 20px;
    width: 274px;
    height: 151px;
    transition: transform 0.3s;
    display: inline-block;
}


.anuncios-container img:hover{
    transform: translateY(-5px);
}

/*=-=-=-==-=--=-==-CSS TELA DE ESCOLHER HORARIO-=-=-=-=-==-=-=-=--*/

.container-data-horario hr{
    margin-top: 50px;
    border: 1px solid black;
}

.container-data-horario {
    display: flex;
}
  
.container-data-horario .filme {
    flex: 40%;

    height: 100vh;
    color: white;
}

.container-data-horario .filme h1{

    text-align: center;
    margin-bottom: 25px;
}
  
.container-data-horario .data-horario {
    flex: 60%;

    height: 100vh;
    color: white;
}

.container-data-horario .info-filme{
    display: block;
    justify-content: center;
}

.container-data-horario .info-filme img{
    height: 300px;
    margin-right: 30px;
}

.container-data-horario .info-filme button{
    width: 200px;
    height: 40px;
    margin-top: 15px;
    border-radius: 7px;
    border: none;
    font-weight: bold;
    font-size: 1em;
    cursor: pointer;
}

.container-data-horario .info-filme button:hover{
    background-color: rgb(196, 196, 196);
}

.container-data-horario .btn-info{
    margin-top: 20px;
}

.container-data-horario .infos h3{
    margin-top: 5px;
}

.container-data-horario .infos{
    display: flex;
}

.container-data{
    width: 700px;
    margin-left: 25px;
}

.container-data .dia-btn{
    background-color: white;
    font-size: 1em;
    font-weight: bold;
    padding: 10px;
    margin: 10px;
    border-radius: 5px;
    border: 1px solid black;
    text-align: center;
    width: 80px;
    cursor: pointer;
}

.container-data .dia-btn:hover{
    background-color: rgb(196, 196, 196);
}

.container-data{
    display: flex;
    justify-content: space-between;
}

.container-data-horario .info-cinema h1{
    margin-top: 30px;
    font-size: 1em;
    margin-left: 40px;
}

.container-data-horario h1{
    margin-top: 30px;
    font-size: 2em;
    margin-left: 40px;
}

.info-filme .poster img{
    margin-left: 25px;
    border-radius: 15px;
}

.info-filme .detalhes h2{
    font-weight: 500;
}

.dia-btn.selecionado {
    background-color: #27498C;
    color: white;
}

.container-data-horario .horario-container{
    display: flex;
    flex-direction: column;
    background-color: white;
    color: black;
    margin: auto;
    margin-top: 10px;
    margin-left: 40px;
    height: 500px;
    width: 500px;
    border-radius: 15px;
}

.container-data-horario .horario-container h2{
    margin-left: 25px;
    margin-top: 35px;
}

.horario-btn {
    margin-left: 25px;
    margin-top: 8px;
    background-color: #27498C;
    font-weight: bold;
    font-size: 1em;
    width: 100px;
    padding: 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }


  
/*=-=-=-==-=--=-==-CSS TELA DE ESCOLHER INGRESSO-=-=-=-=-==-=-=-=--*/

.escolher-ingressos{
    height: 120px;
    background-color: #18213B;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 25px 25px;
    box-shadow: 1px 2px 20px black;
}

.escolher-ingressos .texto-escolher-ingresso{
    color: white;
    font-size: 1.6em;
    margin-top: 20px;
    margin-left: 450px;
}

.escolher-ingressos .fase{
    display: flex;
    margin: auto;
}

.escolher-ingressos .etapa-atual {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.escolher-ingressos .fase div{
    padding: 5px;
    border: 1px solid white;
    font-size: 0.7em;
    font-weight: bold;
    color: white;
}

.container-escolher-ingressos{
    display: flex;
}

.escolher-ingressos-info-filme{
    background-color: #27498C;
    height: 550px;
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 30px;
}

.escolher-ingressos-poster-filme img{
    height: 200px;
    width: 140px;
    margin-top: 10px;
    border-radius: 15px;
}
  
.escolher-detalhes-ingresso h2{
    margin-top: 10px;
    margin-bottom: 5px;
    text-align: center;
    color: white;
    font-size: 1.5em;
}

.escolher-detalhes-ingresso p{
    margin-bottom: 2px;
    font-weight: bold;
    font-size: 0.7em;
    color: white;
    margin-left: -20px;
}

.escolher-ingressos-endereco{
    display: block;
}

.escolher-ingressos-endereco iframe{
    box-shadow: 1px 1px 5px black;
    margin-top: 10px;
    border-radius: 10px;
}

.escolher-ingressos-endereco-texto h2{
    font-size: 0.8em;
    margin-top: 30px;
    color: #1a1a1a;
    text-align: center;
}

.escolher-ingressos-endereco-texto h3{
    font-size: 0.6em;
    text-align: center;
    color: #120F26;
}

.container-tipo-ingresso{
    margin-top: 20px;
    height: 550px;
    width: 700px;
    border-radius: 5px;
    margin-left: 50px;
    background-color: white;
    padding: 10px;
}

.container-tipo-ingresso h1{
    color: #18213B;
    text-align: center;
    margin-top: 15px;
}

.container-tipo-ingresso table{
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-top: 20px;
}

.container-tipo-ingresso th {
    font-size: 1.1em;
}

.container-tipo-ingresso th, td{
    border-bottom: 1px solid #080611;
    padding: 10px;
    text-align: left;
    position: relative;
}

.tooltip-dupla {
    position: absolute;
    top: 35%;
    margin-left: 125px;
    width: 20px;
    height: 20px;
    background-color: #120F26;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}

.tooltip {
    position: absolute;
    top: 35%;
    margin-left: 123px;
    width: 20px;
    height: 20px;
    background-color: #120F26;
    border-radius: 50%;
    text-align: center;
    line-height: 20px;
    color: #fff;
    cursor: pointer;
}

.tooltip-text {
    visibility: hidden;
    width: 120px;
    background-color: #120F26;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.tooltip-text-dupla {
    visibility: hidden;
    width: 120px;
    background-color: #120F26;
    color: #fff;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
    z-index: 1;
}

.tooltip:hover ~ .tooltip-text {
    visibility: visible;
    opacity: 1;
}

.tooltip-dupla:hover ~ .tooltip-text-dupla {
    visibility: visible;
    opacity: 1;
}

.container-tipo-ingresso select{
    padding: 10px;
    width: 60px;
    border-radius: 5px;
    border: 1px solid #120F26;
}

.container-valor-pagar{
    display: flex;
    flex-direction: column;
    align-items: end;
}

.container-valor-pagar .txt-valor-pagar{
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 1em;
    margin-right: 30px;
}

.valor-pagar{
    margin-right: 40px;
}

.info-valores{
    display: flex;
    justify-content: end;
}

.container-quant-ingressos .txt-quant{
    margin-top: -10px;
    margin-bottom: -10px;
    font-size: 1em;
    margin-right: 50px;
}

.container-quant-ingressos .quant-ingressos{
    margin-right: 60px;
}

.container-confirma-ingresso{
    background-color: #27498C;
    height: 550px;
    width: 400px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    margin-top: 20px;
    margin-left: 50px;
}

.container-confirma-ingresso h2{
    margin-top: 30px;
    color: white;
}

.container-confirma-ingresso p{
    margin-top: -20px;
    white-space: pre-line;
    line-height: 3;
    color: white;
    margin-bottom: 0px;
}

.container-confirma-ingresso button{
    height: 50px;
    width: 150px;
    border-radius: 5px;
    border: none;
    background-color: #4CAF50;
    color: white;
    font-size: 1.2em;
    font-weight: bold;
    margin-top: auto;
    margin-bottom: 40px;
    cursor: pointer;
}

.container-confirma-ingresso button:hover{
    background-color: #419644;
}

.container-confirma-ingresso h3{
    margin-bottom: 95px;
    position: absolute;
    bottom: 0;
}

.container-confirma-ingresso .preco-final{
    margin-bottom: 70px;
    position: absolute;
    bottom: 0;
}

/* =-=-=-=-=-=-=-=- CSS TELA DE PAGAMENTO -=-=-=-=-=-=-=-=-=-=*/

.card-pagamento-header{
    height: 120px;
    background-color: #18213B;
    display: flex;
    flex-direction: column;
    border-radius: 0 0 25px 25px;
    box-shadow: 1px 2px 20px black;
    color: white;
}

.card-pagamento-header h1{
    text-align: center;
    font-size: 2.6em;
    margin-top: 20px;
}

.card-pagamento-header .fase{
    display: flex;
    margin: auto;
}

.card-pagamento-header .etapa-atual {
    background-color: #4CAF50;
    color: white;
    font-weight: bold;
}

.card-pagamento-header .fase div{
    padding: 5px;
    border: 1px solid white;
    font-size: 0.7em;
    font-weight: bold;
    color: white;
}

.card-pagamento .metodo-pagamento {
    margin-bottom: 20px;
}

.metodo-pagamento label{
    margin-left: 20px;
    font-size: 1em;
    font-weight: bold;
}

.pagar-ingressos{
    display: flex;
    justify-content: center;
    margin: 30px;
}

.detalhes-filme-pagamento{
    background-color: white;
    color: black;
    width: 600px;
    height: 400px;
    border-radius: 5px;
}

.detalhes-filme-pagamento h3{
    margin-top: 10px;
    font-size: 1em;
    text-align: center;
}

.detalhes-filme-pagamento p {
    white-space: pre-line;
    margin-bottom: 10px;
    margin-left: 20px;
}

.selecionar-metodo-pagamento{
    border: 1px solid black;
    height: 30px;
    border-radius: 5px;
    padding: 5px;
}

.container-pagar-btn {
    margin-top: 55px;
    display: flex;
    justify-content: center;
}

.pagar-btn{
    width: 200px;
    height: 50px;
    background-color: #4CAF50;
    border: none;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 4px;
    box-shadow: 1px 2px 7px black;
    transition: background-color 0.3s ease;
}

.pagar-btn:hover {
    background-color: #45a049;
}

/* =-=-=-=-=-=-=-=- CSS TELA DE SERVIÇOS -=-=-=-=-=-=-=-=-=-=*/

.conteudo-section p, h1{
    color: white;
}

.section-inicial {
    width: 100%;
    height: 260px;
    margin-top: 80px;
}

.conteudo-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.conteudo-section .info-um, .info-tres {
    width: 100%;
    display: flex;
    justify-content: center;
    font-size: 18px;
    font-weight: 600;
}

.conteudo-section .info-dois {
    display: flex;
    padding-top: 15px;
    padding-bottom: 15px;
    text-align: center;
    font-size: 40px;
}

.container-img-servicos {
    width: 100%;
    height: 380px;
}

.container-img-servicos img {
    width: 100%;
    height: 100%;
}

header {
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    background: #2A3659;
    position: fixed;
    width: 100%;
    top: 0;
    color: #fff;
    font-size: 18px;
    z-index: 1000;
}

header, nav ul {
    display: flex;
    justify-content: space-between;
    padding: 0.9rem;
    list-style: none;
    padding-left: 35px;
}

nav ul li {
    margin-left: 1rem;
    padding: 0 30px;
    position: relative;
}

header a {
    color: #fff;
    text-decoration: none;
    position: relative;
    font-weight: 500;
}


header a:hover {
    color: #14FF00; 
}


header a::before {
    content: '';
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #14FF00; 
    bottom: -2px;
    left: 0;
    transform: scaleX(0); 
    transform-origin: 0% 50%;
    transition: transform 0.3s ease-in-out;
}

header a:hover::before {
    transform: scaleX(1);
}

.container-informativo-1 {
    padding-top: 60px;
    display: flex;
}

.image-container {
    flex: 1;
    display: flex;
    justify-content: center;    
    align-items: center;    
}

.image-container img {
    width: 600px;
    max-width: 100%;
    height: auto; 
    display: block; 
}


.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
    box-sizing: border-box; 
    color: #fff;
}

/* Adiciona margin para os elementos dentro de .text-container */
.text-container h2,
.text-container p,
.text-container button {
    margin-bottom: 20px; /* Adiciona margem inferior */
}

.text-container h2 {
    font-size: 40px;
}

.text-container button {
    padding: 15px 35px;
    background-color: #263238;
    color: #14FF00;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 550;
    
}

.text-container p {
    text-align: justify;
    padding-right: 130px;
}

.container-informativo-1 {
    padding-top: 60px;
    display: flex;
}


.new-image-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
}


.new-image-container img {
    width: 600px;
    max-width: 100%;
    height: auto;
    display: block;
}

/* Estilo para a div do texto */
.text-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: baseline;
    padding: 20px;
    box-sizing: border-box;
    color: #fff;
    padding-left: 60px;
}

/* Adiciona margin para os elementos dentro de .text-container */
.text-container h2,
.text-container p,
.text-container button {
    margin-bottom: 20px;
}

.text-container h2 {
    font-size: 40px;
}

.text-container button {
    padding: 15px 35px;
    background-color: #263238;
    color: #14FF00;
    border: none;
    cursor: pointer;
    border-radius: 30px;
    font-weight: 550;
    transition: background-color 0.3s, transform 0.3s;
}

.text-container button:hover {
    background-color: #1a1a1a;
    transform: scale(1.05);
}

.text-container p {
    text-align: justify;
    padding-right: 130px;
}

/* =-=-=-=-=-=-=-=- CSS TELA DE NOTÍCIAS -=-=-=-=-=-=-=-=-=-=*/

#banner-noticias {
    width: 100%;
    height: 300px;
    overflow: hidden;
    position: relative;
}

#scrollbar {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;
    user-select: none;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-track {
    display: flex;
    justify-content: space-between;
    align-items: stretch;
    align-content: stretch;
    flex-wrap: nowrap;
    margin: 0;
    padding: 0;
}

.slick-slide {
    flex: 1 0 0%;
    height: 100%;
}

.banner-image {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

section {
    padding-top: 40px;
    max-width: 800px;
    margin: 20px auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.noticia {
    width: 48%;
    margin-bottom: 20px;
    box-sizing: border-box;
    background-color: #111111;
    border: 4px solid #111111;
    border-radius: 5px;
    overflow: hidden;
    cursor: pointer;
}

.noticia-titulo {
    padding: 10px;
    text-align: start;
    font-size: 16px;
    font-weight: bold;
    color: #ffffffb1;
}

.noticia img {
    width: 100%;
    height: auto;
}

.acessar-noticia {
    display: none;
    color: #fff;
    padding: 10px;
}

.noticia img:hover ~ .noticia-titulo {
    display: none;
}

.noticia img:hover ~ .acessar-noticia {
    display: block;
}

.section-noticia {
    background-color: #282828;
    padding: 0px 40px 0px 40px;
}

/* =-=-=-=-=-=-=-=- FOOTER PÁGINAS -=-=-=-=-=-=-=-=-=-=*/

footer {
    background-color: #111111;
    color: #fff;
    padding: 20px 0;
}

.container-footer {
    display: flex;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
}

.coluna-footer {
    flex: 1;
    margin-right: 20px;
}

.coluna-footer:last-child {
    margin-right: 0;
}

.coluna-footer h2 {
    font-size: 1.5rem;
    padding-bottom: 20px;
}

.coluna-footer p {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
}

.coluna-footer a {
    text-decoration: none;
    color: #5F95FF;
    margin-left: 0;
    padding-left: 5px;
}

.direitos-reservados {
    text-align: center;
    margin-top: 20px;
    padding-top: 40px;
}

.imagem-full-width {
    position: relative;
    width: 100%;
    height: 181px;
    overflow: hidden;
}

.imagem-full-width img {
    cursor: pointer;
    width: 100%;
    position: absolute;
    top: 0;
}

/* =-=-=-=-=-=-=-=- INDEX HOME -=-=-=-=-=-=-=-=-=-=*/

.poster-index{
    display: flex;
    justify-content: center;
}