.cartaz{
    cursor: pointer;
}
.cartaz__img:nth-child(1){
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 1;
    background: url('imgs/main/Frame 6.png') center / cover no-repeat;
}