body{
    background-color: #120F26;
}

.container-telaCadastro{
    display: flex;
}

.form-cadastro{
    height: 410px;
    width: 700px;
    background-color: #27498C;
    border-radius: 25px;
    display: flex;
    justify-content: center;
}

.cadastro-container{
    margin-left: 90px;
    margin-top: 25px;
    flex: 1;
}

.cadastro-container h1{
    margin-bottom: 5px;
    font-size: 2em;
    color: white;
}

.cadastro-container h6{
    font-size: 0.8em;
    color: red;
}

.input-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 1rem 0;
}

.input-box{
    display:flex;
    flex-direction: column;
    margin-bottom: 1.1rem;
    margin: auto;
}

.input-box input{
    margin: 0.6rem 0;
    padding: 0.8rem 1.2rem;
    border: none;
    border-radius: 10px;
    font-weight: 500;
}

.input-box input:hover{
    background-color: #eaeaea;
}

.input-box input:focus-visible{
    outline: 1px solid #120F26;
}

.input-box label{
    font-size: 0.8em;
    font-weight: 500;
    margin-bottom: -5px;
    color: white;
    
}

.input-box input::placeholder{
    color: #000000be;
    font-weight: 400;
}

.input-box .form-nome{
    width: 620px;
}

.input-box .form-apelido,
.form-email,
.form-cpf,
.form-telefone,
.form-senha,
.form-senha2{
    width: 270px;
}

.btn-registrar{
    display: flex;
    justify-content: center;
}

.btn-registrar button{
    width: 300px;
    height: 50px;
    border: 1px solid #4945F9;
    border-radius: 10px;
    background-color: #120F26;
    color: white;
    font-size: 1.2em;
    font-weight: 600;
    box-shadow: 1px 1px 6px #120F26;
    cursor: pointer;
    transition: transform 0.3s;
}

.btn-registrar button:hover{
    background-color: #080611;
    transform: translateY(-2px);

}

.form-cadastro h5{
    color: white;
    font-weight: 100;
    text-align: center;
    margin-top: 10px;
    font-size: 0.7em;
}

.form-cadastro h5 a{
    color: white;
}

.anuncios-container{
    margin-top: 20px;
    height: 500px;
    width: 500px;
    display: block;
    text-align: center;
}

.anuncios-container img{
    margin-top: 20px;
    width: 274px;
    height: 151px;
    transition: transform 0.3s;
    display: inline-block;
}


.anuncios-container img:hover{
    transform: translateY(-5px);
}